---
layout: default-left
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  {% if page.hide_title %}
	<!-- title is hide -->
  {% else %}
  <h2 class="py2" align="center">{{ page.title }}</h1>
  {% endif %}
	<center>
	  <span class="post-meta" align="center">{{ page.date | date: "%m - %d, %Y" }}</span><br>
	  <span class="post-meta small" align="center">{{ minutes }} minute read</span>
	</center>
</div>

<article class="post-content">
  {{ content }}
</article>

{% if site.show_related_posts %}
  <h3 class="related-post-title">Related Posts</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}


<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<div id="container"></div>
<link rel="stylesheet" href="https://scris.top/css/gitment.css">


<script>
    var clientId = '0e58b64b862b449dd9ab'
    var clientSecret = 'dfb6495e652d0e503cba6bfd4bf641d559c8d7e6'
    var gitment = new Gitment({
      id: window.location.href,
      owner: 'ScrisStudio',
      repo: 'scris.top',
      oauth: {
        client_id: clientId,
        client_secret: clientSecret,
      },
    })
    gitment.render('container')
</script>


